@import "additional-styles/utility-patterns.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.portable-text {
  h3 {
    font-size: 1.875rem /* 30px */;
    line-height: 1.333;
    letter-spacing: -0.017em;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #f3a710 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 167 16 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fce98b var(--tw-gradient-to-position);
    background-clip: text;
    padding-bottom: 0.75rem;
    text-align: left;
    color: transparent;
  }

  p {
    text-align: justify;
  }
}

.transform-style-preserve {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.perspective-800 {
  perspective: 800px;
}

.rotateY-180 {
  transform: rotateY(180deg);
}
